extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/noi.jpg", alt="imagine su di noi", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare tortor quis ipsum vulputate, et commodo justo placerat. Curabitur auctor turpis metus, vel laoreet massa vehicula quis. Nunc turpis dui, elementum facilisis elit quis, efficitur rutrum nunc. 

                p Nunc eget tempus elit. Maecenas quis venenatis nisl. Phasellus pulvinar elit eu lorem pretium lacinia. Pellentesque nec posuere mi, a semper lacus. Nullam efficitur metus in condimentum tincidunt. Maecenas eget libero at felis hendrerit consectetur. Morbi a neque quam. Integer quis mauris non metus condimentum congue sed in metus. Integer vitae sagittis lorem. Etiam ut condimentum massa, non congue tortor.

                p Fusce in iaculis leo, id pellentesque mi. Fusce a tellus a leo dapibus dictum. Cras eu egestas eros. Aliquam suscipit dui in purus pellentesque mattis. Cras luctus, odio id dapibus commod.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 

                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono sicurezza" class="img-fluid mb-4")
                    h2.mb-4 Sicurezza
                    p Fusce in iaculis leo, id pellentesque mi. Fusce a tellus a leo dapibus dictum. Cras eu egestas eros.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 I Miglior Destino
                    p Fusce in iaculis leo, id pellentesque mi. Fusce a tellus a leo dapibus dictum. Cras eu egestas eros.  

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 I Miglior Prezzi
                    p Fusce in iaculis leo, id pellentesque mi. Fusce a tellus a leo dapibus dictum. Cras eu egestas eros.