footer.container.py-5 
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/noi") Noi
                a.nav-link(href="/viaggi") Viaggi
                a.nav-link(href="testimoni") Testimoni 
        .col 
            p.copyright.text-center.text-md-right
                | Tutti i diritti riservati 
                span=actualYear